*{
    margin: 0;
    padding: 0;
}
.container {
    width: 1300x;
    background-color: #333333;
    position: relative;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
#intro {
    width: 100px;
    height: 100px;
}
p { color : #FFFFFF;
    float: center;
    font-size: 50px;
}
.one {
    position: absolute;
    top: 15%;
    left: 33%;
}
.two {
    position: absolute;
    top: 51%;
    left: 41%;
}

.video {
    position: absolute;
    top: 15%;
    left: 15%;
    margin: -7px 0 0 -7px;
}