nav {
    font-size: 12pt;
    font-family: 'PT Sans', Arial, sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
}
nav a:hover, nav a:active{
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul{
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}
li{
    display: inline-block;
}
li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}
li a:hover{
    color: #000000;
    font-weight: normal;
}
.menu{
    width: 5000px;
    height: 50px;
    text-align: center;
    max-width: 100%;
    background-position: cover;
    background-color: #6c75ad;
    position: absolute; z-index: 1;
}

.infoimg {
    position: absolute;
    top: 50px;
}

.infotext{
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 330px;
    left: 800px;
    color: #FFFFFF;
    font-family: 'Cafe24 Ohsquare';
}
.hey{
    font-size: 70px;
}

.img1{
    position: absolute;
    top: 100px;
    left: 580px;
}

div{
    color: #FFFFFF;
    font-family: 'Cafe24 Ohsquare';
    font-size: 20px;
}
.t { 
    font-family: 'Cafe24 Ohsquare';
    font-size: 25px;
    position: relative;
}


.re1 {
    width: 140px;
    height: 50px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #333;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 515px;
    left: 660px;
}
.t2 {
    position: absolute;
    top: 575px;
    left: 595px;
}

.re2 {
    width: 170px;
    height: 50px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #be8aff;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 615px;
    left: 645px;
}
.t3 {
    position: absolute;
    top: 675px;
    left: 600px;
}


.re3 {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #be8aff;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 715px;
    left: 680px;
}
.t4 {    
    position: absolute;
    top: 770px;
    left: 705px;
}
.re4 {
    width: 90px;
    height: 50px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #be8aff;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 420px;
    left: 685px;
}
.t1 {
    position: absolute;
    top: 480px;
    left: 685px;
}


.re5 {
    width: 170px;
    height: 50px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #be8aff;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 810px;
    left: 645px;
}
.t5 {
    position: absolute;
    top: 865px;
    left: 565px;
}

.p {
    font-size: 300px;
}

.video{
    position: absolute;
    top: 280px;
    left: 5px;
}
.video2 {
    position: absolute;
    top: 280px;
    right: 15px;
}

.text1{
    font-family: 'Cafe24 Ohsquare';
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 200px;
}
.text2 {
    font-family: 'Cafe24 Ohsquare';
    font-size: 20px;
    position: absolute;
    top: 250px;
    right: 250px;
}

.insta {
    position: absolute;
    top: 470px;
    right: 490px;
}
.github {
    position: absolute;
    top: 453px;
    right: 410px;
}

.rr {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: #6c75ad;
    position: absolute;
    top: 490px;
    right: 480px;
    opacity: 0.0;
}
.rr:hover {
    background-color: #333;
    opacity: 1.0;
}